<div class="signin-container">
    <mat-toolbar class="heading" ><span> SIGN IN </span></mat-toolbar>
    <mat-card>
        <mat-card-content>

            <button style="margin: 0 auto; display: flex;"  class="sign-in-button" mat-stroked-button extended (click)="authService.GoogleAuth()" >
                <mat-icon><img  class="button-img" src="../../../assets/images/logo/socialmedia/g-logo.png" width="18" height="18"/></mat-icon>
                <span class="button-text">Sign In with Google</span>
              </button>
        </mat-card-content>
    </mat-card>
</div>


