.example-spacer {
    flex: 1 1 auto;
  }

  .header{
    position: fixed;
    z-index: 100;
    background-color: indianred;
    font-family: NunitoSans;
  }

  .example-container {
    //width: 500px;
    height: 100%;
    padding: 0px;   

  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 0px;
  }

  .is-active{
    background-color: indianred;
}

.mat-drawer {
  min-width: 280px !important;
}


.material-icons{
  font-size: 19px !important;
  font-weight: 500 !important;
  padding-right: 12px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.nav-list-header {
  font-size: 16px;
  font-weight: 800;
  font-family: Arya;
}

.mat-list{
  max-height: 50px !important;

}
.side-nav{

  padding: 0px;
}

.side-nav-header{
  margin-bottom: 18px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  color: #e76f51;
}



.example-header-image {
  border-radius: 5px;
  border: 2px solid yellowgreen;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.header1{
   
}

.body-container{
  margin :50px
}

